@import "tailwindcss";
@import "./styles/themes.css";

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  padding: 0 50px 0 50px;
  /*display: flex; */
  /*place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: var(--color-background, #ffffff); */
  /* @apply bg-slate-50 dark:bg-slate-900; */
  @apply bg-slate-50 dark:bg-black;
}

/* Mobile responsive padding */
@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
    background-color: transparent;
  }
}
